[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=ServerSide
Exec=/usr/bin/single-instance /opt/ServerSide/bin/ServerSide
Icon=/usr/share/icons/hicolor/80x80/apps/ServerSide80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
